.full-width{
  width: 100%;
}
.cursor{
  cursor: pointer;
}
.m-t{
  margin-top: 50px;
}
.m-t-10{
  margin-top: 10px;
}
.m-t-20{
  margin-top: 20px;
}
.m-b-20{
  margin-bottom: 20px;
}
.p-20{
  padding: 20px 0;
}
.p-10{
  padding: 10px 0;
}
.clear{
  clear: both;
}
.no-padder{
  padding: 0;
}
.no-margin{
  margin: 0;
}
.b{
  border: 1px solid #ebebeb;
  border-radio: 15%;
}
.white-color{
  color: #fff;
}