.doctor-content{
  margin-top: 50px;
}
.content-title{
  border-bottom: 1px solid #ebebeb;
}
.content-title .h3{
  border-bottom: 3px solid #00f;
}
.doctor-number{
  background-color: rgb(243, 243, 243);
}
.doctor-item{
  -moz-box-shadow: 1px 1px 5px #888888;
  box-shadow: 1px 1px 5px #888888;
  -moz-border-radius: 5px;      /* Gecko browsers */
  -webkit-border-radius: 5px;   /* Webkit browsers */
  border-radius: 5px;            /* W3C syntax */
}
