.doctor-content{
  margin-top: 50px;
}
.content-title{
  border-bottom: 1px solid #ebebeb;
}
.content-title .h3{
  border-bottom: 3px solid #00f;
}
.doctor-number{
  background-color: rgb(243, 243, 243);
}