body{
  background-color: rgb(255, 255, 255);
}
.navbar{
  margin: 0;
  background-color: #fff;
}
.full-width{
  width: 100%;
}
.header-section{
  background-image: url(../../image/header.jpg);
  height: 400px;
  color: #fff;
}
.m-t{
  margin-top: 50px;
}
.disease-item{
  width: 100%;
  padding: 20px 0;
}
.disease-item:hover{
  background-color: rgb(108, 188, 179);
  color: #fff;
}
.explore-item{
  text-decoration: none;
  color: #fff;
  repeat: no-repeat;
  background-size: cover;
  height: 250px;
}
.baby-item{
  background-image: url(../../image/baby.png);
}
.patient-item{
  background-image: url(../../image/patient.png);
}
.family-item{
  background-image: url(../../image/family.png);
}
.woman-item{
  background-image: url(../../image/woman.png);
}
.m-t-10{
  margin-top: 10px;
}
.m-t-20{
  margin-top: 20px;
}
.m-b-20{
  margin-bottom: 20px;
}
.p-20{
  padding: 20px 0;
}
.p-10{
  padding: 10px 0;
}
.nav-item{
  margin: 0 20px;
}
.specialist{
  background: rgb(216, 235, 240); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgb(216, 235, 240), white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgb(216, 235, 240), white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgb(216, 235, 240), white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgb(216, 235, 240), white); /* Standard syntax */
}
.cut-line{
  height: 1px;
  border: none;
  border-top: 1px solid #EBEBEB;
}
.spotlight{
  padding-bottom: 50px;
}
.spotlight a{
  text-decoration: none;
  color: #000;
}
.content-end{
  background: rgb(216, 235, 240); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(white， rgb(216, 235, 240)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, rgb(216, 235, 240)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, rgb(216, 235, 240)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, rgb(216, 235, 240)); /* Standard syntax */
}
.middle-center {
  position: relative;
  top: 45%;
}
.story-item{
  height: 200px;
  background-size: cover;
}
.story-content{
  text-decoration: none;
  height: 100%;
  color: rgba(0,0,0,0);
  display: block;
}
.story-content .text-content{
  position: relative;
  top: 30%;
}
.story-content:hover{
  color: #fff;
  text-decoration: none;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: block;
}
.spotlight-item{
  background-color: #fff;
  display: block;
}
.spotlight-item h5{
  color: rgb(51, 121, 169);
}
.percent-section{
  padding-top: 50px;
  background-color: rgb(247,247,247);
}
.man-icon-bar{
  background-image: url(../../image/man-icon.png);
  height: 100px;
  background-repeat: repeat-x;
}
.benefit-section{
  background-color: #fff;
}
.benefit-section .content{
  background-color: rgb(247,247,247);
  padding: 0 30px;
}
footer{
  background-color: rgb(220,242,249);
  height: 100px;
  line-height: 100px;
  border-top: 1px solid rgba(0,0,0,0.3);
}
.float-layer{
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1000;
  color: #fff;
}
.float-content{
  background-color: rgba(55,130,145,0.9);
  height: 100%;
  width: 25%;
}
.close-icon{
  color: #fff;
  float: right;
  margin-right: 5%;
  margin-top: 5%;
  cursor: pointer;
}
.clear{
  clear: both;
}
.input-box{
  margin-left: 5%;
  margin-right: 5%;
}
.input-box input{
  height: 50px;
  background-color: #fff;
}
.input-box span{
  height: 50px;
  line-height: 50px;
}
.submit-button{
  background-color: rgb(223, 144, 122);
  cursor: pointer;
}