.doctor-profile{
   background-color: rgb(0, 161, 58);
   height: 900px;
   position: fixed;
}
.doctor-content{
  background-color: #EBEBE;
}
.doctor-photo-border{
  border: 2px solid #FFFAFA;
}
#calendar td, th{
  text-align: center;
}
#calendar td:hover{
  background: #ebebeb;
}
p{
  text-indent:2em; padding:0px; margin:0px;
}
ul li{
  list-style-type:none;
}
.dot{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 50%;
  background: rgb(0, 161, 58);
  vertical-align: middle;
  overflow: hidden;
}
.green-color{
  color: rgb(30, 158, 185);
}
.comment-title{
  background: rgb(247, 253, 254);
  border-top: 4px solid rgba(30, 158, 185, 0.7);
  border-bottom: 1px solid #C0C0C0;
  border-left: 1px solid #C0C0C0;
  border-right: 1px solid #C0C0C0;
  padding: 10px 0;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.comment-button{
  background: rgb(255,153,0);
  color: #fff;
}
.gray-color{
  background-color: rgb(247, 247, 247);
  padding: 5px 0;
}
.comment-item-title div{
  display: inline-block;
  width: 20%;
}
.comment-time span{
  margin-left: 20px;
}
.content-item{
  padding: 0 20px;
}
.star{
  margin-left: 20px;
}
.footer{
  height: 50px;
}