{% extends 'base.html' %}
{% load staticfiles %}

{% block custom_css %}
  <link href="{% static 'css/searchDoctor/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <section class="header-section container-fluid">
    <header class="row m-t-20">
      <div class="col-md-1">
        <a href="" class="h3"><i class="glyphicon glyphicon-align-justify"></i></a>
      </div>
      <div class="col-md-11 text-right">
        <a href="" class="h3 nav-item">病人</a>
        <a href="" class="h3 nav-item">医师</a>
        <a href="" class="h3 nav-item">医院</a>
      </div>
    </header>
    <div class="row m-t">
      <h2 class="text-center">
        搜医生<sup>&reg;</sup>
      </h2>
      <h1 class="text-center">
        提供权威，客观的评论信息
      </h1>
      <div class="col-md-8 col-md-offset-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="搜医院 搜医生 搜疾病" style="height: 50px;">
          <a class="input-group-addon"><i class="glyphicon glyphicon-search"></i></a>
        </div>
      </div>
    </div>
  </section>
  <section class="specialist container-fluid">
    <div class="row m-t-20">
      <h2 class="text-center">让我们开始选择你期望的医生</h2>
    </div>
    <div class="row m-t-20">
      <div class="col-md-2 col-md-offset-2">
        <a href="" class="btn btn-default disease-item">
          Family Medicine
        </a>
      </div>
      <div class="col-md-2">
        <a href="" class="btn btn-default disease-item">
          Pediatrics
        </a>
      </div>
      <div class="col-md-2">
        <a href="" class="btn btn-default disease-item">
          Internal Medicine
        </a>
      </div>
      <div class="col-md-2">
        <a href="" class="btn btn-default disease-item">
          Dentistry
        </a>
      </div>
    </div>
    <div class="row m-t-20">
      <div class="col-md-2 col-md-offset-2">
        <a href="" class="btn btn-default disease-item">
          Cardiology
        </a>
      </div>
      <div class="col-md-2">
        <a href="" class="btn btn-default disease-item">
          Obstetrics & Gynecology
        </a>
      </div>
      <div class="col-md-2">
        <a href="" class="btn btn-default disease-item">
          Orthopedic Surgery
        </a>
      </div>
      <div class="col-md-2">
        <a href="" class="btn btn-default disease-item">
          Ophthalmology
        </a>
      </div>
    </div>
    <div class="row m-t-20">
      <div class="col-md-2 col-md-offset-2">
        <a href="" class="btn btn-default disease-item">
          Endocrinology
        </a>
      </div>
      <div class="col-md-2">
        <a href="" class="btn btn-default disease-item">
          Allerygy
        </a>
      </div>
      <div class="col-md-2">
        <a href="" class="btn btn-default disease-item">
          Dermatology
        </a>
      </div>
      <div class="col-md-2">
        <a href="" class="btn btn-default disease-item">
          Gastroenterology
        </a>
      </div>
    </div>
    <div class="row m-t-20">
      <div class="col-md-6 col-md-offset-3">
        <hr style="height:1px;border:none;border-top:1px solid #555555;">
      </div>
    </div>
  </section>
  <section class="container">
    <h2 class="text-center">Explore Healthcare in Montgomery County</h2>
    <h3 class="text-center">We've curated the best of the best so you can find the top providers,hospitals and facilities nearby.</h3>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <img src="{% static 'image/baby.png' %}" class="img-responsive" >
      </div>
      <div class="col-md-5">
        <img src="{% static 'image/patient.png' %}" class="img-responsive" >
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <img src="{% static 'image/family.png' %}" class="img-responsive">
      </div>
      <div class="col-md-5">
        <img src="{% static 'image/woman.png' %}" class="img-responsive">
      </div>
    </div>
  </section>
{% endblock %}

{% block custom_js %}
  <script src="{% static 'js/searchDoctor/index.js' %}" />
{% endblock %}
