{% extends 'base.html' %}
{% load staticfiles %}

{% block custom_css %}
  <link href="{% static 'css/searchDoctor/show.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 doctor-profile white-color" style="height: 700px;">
        <div class="row m-t-20">
          <div class="col-md-6 text-center">
            <img src="{% static 'image/doctors/doctorlogo.png' %}" class="img-responsive">
          </div>
          <div class="col-md-6 white-color" style="margin-top: 5%;">
            <h4 class="text-left">华西医院</h4>
          </div>
        </div>
        <div class="row m-t-20">
          <div class="col-md-8 col-md-offset-2">
            <img src="{% static 'image/doctors/doctor.jpg' %}" class="img-responsive doctor-photo-border">
          </div>
        </div>
        <h1 class="text-center">刘亦菲</h1>
        <div class="row">
          <div class="col-md-12 m-t-20">
            <span class="glyphicon glyphicon-user"></span>
            <span>主任医师 教授</span>
          </div>
          <div class="col-md-12 m-t-10">
            <span class="glyphicon glyphicon-map-marker"></span>
            <span>小儿科</span>
          </div>
          <div class="col-md-12 m-t-10">
            <span class="glyphicon glyphicon-list-alt"></span>
            <span>胸型畸形、先天性脑瘤、血管瘤及血管畸形等治疗及研究</span>
          </div>
        </div>
      </div>
      <div class="col-md-10 doctor-content" style="height: 200px;">
        <h2>就诊时间</h2>
        <div class="row">
          <div class="col-md-12">
            <table id="calendar" class="table table-bordered">
                <tr class="info">
                  <th class="red-color">星期天</th>
                  <th>星期一</th>
                  <th>星期二</th>
                  <th>星期三</th>
                  <th>星期四</th>
                  <th>星期五</th>
                  <th class="red-color">星期六</th>
                </tr>
              <tbody>
                <tr>
                  <td class="red-color">01</td>
                  <td>02</td>
                  <td>03</td>
                  <td>04</td>
                  <td>05</td>
                  <td>06</td>
                  <td class="red-color">07</td>
                </tr>
                <tr>
                  <td class="red-color">08</td>
                  <td>09</td>
                  <td>10</td>
                  <td>11</td>
                  <td>12</td>
                  <td>13</td>
                  <td class="red-color">14</td>
                </tr>
                <tr>
                  <td class="red-color">15</td>
                  <td>16</td>
                  <td>17</td>
                  <td>18</td>
                  <td>19</td>
                  <td>20</td>
                  <td class="red-color">21</td>
                </tr>
                <tr>
                  <td class="red-color">22</td>
                  <td>23</td>
                  <td>24</td>
                  <td>25</td>
                  <td>26</td>
                  <td>27</td>
                  <td class="red-color">28</td>
                </tr>
                <tr>
                  <td class="red-color">29</td>
                  <td>30</td>
                  <td>31</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="red-color"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row m-t-12">
          <div class="col-md-12">
            <h2>工作经历</h2>
            <p>
              长期从事小儿外科工作，在胸壁畸形、先天性咳嗽，血管瘤及血管畸形等诊治及研究等方面有丰富的临床经验，深得病员好评。在美国滨州大学医学院作博士后及高级访问学者
              四川省学术带头人，现任儿童医学中心主任，现任中华医学会小儿外科分会常务委员会兼胸心学组副组长。
              四川省医学会小儿外科专委会主任委员，获中华医学奖，四川省科技进步奖及贵州省科技进步奖。
              获中华医学奖、四川省科技进步奖及贵州省科技进步奖，四川省学术带头人，现任儿童医学中心主任。现任中华医学会小儿外科分会常务委员兼任胸心
              学组副组长，四川省医学会小儿外科专委会主任委员。
            </p>
          </div>
        </div>
        <div class="row m-t-12">
          <div class="col-md-12">
            <h2>预约须知</h2>
            <ul>
              <li><span class="dot"></span>须知一</li>
              <li><span class="dot"></span>须知二</li>
              <li><span class="dot"></span>须知三</li>
              <li><span class="dot"></span>须知四</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block custom_js %}
{% endblock %}
