{% extends 'base.html' %}
{% load staticfiles %}

{% block custom_css %}
  <link href="{% static 'css/searchDoctor/show.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 doctor-profile white-color" style="height: 700px;">
        <div class="row m-t-20">
          <div class="col-md-6 text-center">
            <img src="{% static 'image/doctors/doctorlogo.png' %}" class="img-responsive">
          </div>
          <div class="col-md-6 white-color" style="margin-top: 5%;">
            <h4 class="text-left">华西医院</h4>
          </div>
        </div>
        <div class="row m-t-20">
          <div class="col-md-8 col-md-offset-2">
            <img src="{% static 'image/doctors/doctor.jpg' %}" class="img-responsive doctor-photo-border">
          </div>
        </div>
        <h1 class="text-center">张波</h1>
        <div class="row">
          <div class="col-md-12 m-t-20">
            <span class="glyphicon glyphicon-user"></span>
            <span>主任医师 教授</span>
          </div>
          <div class="col-md-12 m-t-10">
            <span class="glyphicon glyphicon-map-marker"></span>
            <span>小儿科</span>
          </div>
          <div class="col-md-12 m-t-10">
            <span class="glyphicon glyphicon-list-alt"></span>
            <span>胸型畸形、先天性脑瘤、血管瘤及血管畸形等治疗及研究</span>
          </div>
        </div>
      </div>
      <div class="col-md-10 doctor-content" style="height: 200px;">
        <h2>就诊时间</h2>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-bordered">
              <!--<thead>-->
                <tr class="info">
                  <th class="red-color">星期天</th>
                  <th>星期一</th>
                  <th>星期二</th>
                  <th>星期三</th>
                  <th>星期四</th>
                  <th>星期五</th>
                  <th class="red-color">星期六</th>
                </tr>
              <!--</thead>-->
              <tbody>
                <tr>
                  <td class="red-color">01</td>
                  <td>02</td>
                  <td>03</td>
                  <td>04</td>
                  <td>05</td>
                  <td>06</td>
                  <td class="red-color">07</td>
                </tr>
                <tr>
                  <td class="red-color">01</td>
                  <td>02</td>
                  <td>03</td>
                  <td>04</td>
                  <td>05</td>
                  <td>06</td>
                  <td class="red-color">07</td>
                </tr>
                <tr>
                  <td class="red-color">01</td>
                  <td>02</td>
                  <td>03</td>
                  <td>04</td>
                  <td>05</td>
                  <td>06</td>
                  <td class="red-color">07</td>
                </tr>
                <tr>
                  <td class="red-color">01</td>
                  <td>02</td>
                  <td>03</td>
                  <td>04</td>
                  <td>05</td>
                  <td>06</td>
                  <td class="red-color">07</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block custom_js %}
{% endblock %}
