{% extends 'base.html' %}
{% load staticfiles %}

{% block custom_css %}
  <link href="{% static 'css/searchDoctor/show.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 doctor-profile white-color">
        <div class="row m-t-20">
          <div class="col-md-6 text-center">
            <img src="{% static 'image/doctors/doctorlogo.png' %}" class="img-responsive">
          </div>
          <div class="col-md-6 white-color" style="margin-top: 5%;">
            <h4 class="text-left">华西医院</h4>
          </div>
        </div>
        <div class="row m-t-20">
          <div class="col-md-8 col-md-offset-2">
            <img src="{% static 'image/doctors/doctor.jpg' %}" class="img-responsive doctor-photo-border">
          </div>
        </div>
        <h1 class="text-center">刘亦菲</h1>
        <div class="row">
          <div class="col-md-12 m-t-20">
            <span class="glyphicon glyphicon-user"></span>
            <span>主任医师 教授</span>
          </div>
          <div class="col-md-12 m-t-10">
            <span class="glyphicon glyphicon-map-marker"></span>
            <span>小儿科</span>
          </div>
          <div class="col-md-12 m-t-10">
            <span class="glyphicon glyphicon-list-alt"></span>
            <span>胸型畸形、先天性脑瘤、血管瘤及血管畸形等治疗及研究</span>
          </div>
        </div>
      </div>
      <div class="col-md-offset-2 col-md-10 doctor-content" style="height: 200px;">
        <h2>就诊时间</h2>
        <div class="row">
          <div class="col-md-12">
            <table id="calendar" class="table table-bordered">
                <tr class="info">
                  <th class="red-color">星期天</th>
                  <th>星期一</th>
                  <th>星期二</th>
                  <th>星期三</th>
                  <th>星期四</th>
                  <th>星期五</th>
                  <th class="red-color">星期六</th>
                </tr>
              <tbody>
                <tr>
                  <td class="red-color">01</td>
                  <td>02</td>
                  <td>03</td>
                  <td>04</td>
                  <td>05</td>
                  <td>06</td>
                  <td class="red-color">07</td>
                </tr>
                <tr>
                  <td class="red-color">08</td>
                  <td>09</td>
                  <td>10</td>
                  <td>11</td>
                  <td>12</td>
                  <td>13</td>
                  <td class="red-color">14</td>
                </tr>
                <tr>
                  <td class="red-color">15</td>
                  <td>16</td>
                  <td>17</td>
                  <td>18</td>
                  <td>19</td>
                  <td>20</td>
                  <td class="red-color">21</td>
                </tr>
                <tr>
                  <td class="red-color">22</td>
                  <td>23</td>
                  <td>24</td>
                  <td>25</td>
                  <td>26</td>
                  <td>27</td>
                  <td class="red-color">28</td>
                </tr>
                <tr>
                  <td class="red-color">29</td>
                  <td>30</td>
                  <td>31</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="red-color"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row m-t-12">
          <div class="col-md-12">
            <h2>工作经历</h2>
            <p>
              长期从事小儿外科工作，在胸壁畸形、先天性咳嗽，血管瘤及血管畸形等诊治及研究等方面有丰富的临床经验，深得病员好评。在美国滨州大学医学院作博士后及高级访问学者
              四川省学术带头人，现任儿童医学中心主任，现任中华医学会小儿外科分会常务委员会兼胸心学组副组长。
              四川省医学会小儿外科专委会主任委员，获中华医学奖，四川省科技进步奖及贵州省科技进步奖。
              获中华医学奖、四川省科技进步奖及贵州省科技进步奖，四川省学术带头人，现任儿童医学中心主任。现任中华医学会小儿外科分会常务委员兼任胸心
              学组副组长，四川省医学会小儿外科专委会主任委员。
            </p>
          </div>
        </div>
        <div class="row m-t-12">
          <div class="col-md-12">
            <h2>预约须知</h2>
            <ul>
              <li><span class="dot"></span>预约时限：可预约未来14天医生号签</li>
              <li><span class="dot"></span>取号时间：周一至周五：上午09：30以前，下午13：30以前；周六：上午11：30以前其他时间不取号,周日不取号</li>
              <li><span class="dot"></span>取消时间：提前1天取消，不足1天现场不对号签进行取消</li>
              <li><span class="dot"></span>取号地址：医院大门右侧一楼114取号处【取号要求：仅凭就诊卡预约取号，取号时请出示就诊卡和身份证，小孩就诊须出示监护人身份证才能取号。】</li>
              <li><span class="dot"></span>黑名单规则：挂号7天内如果三次取消华西附二院号签将自动算为华西附二院的黑名单用户。</li>
              <li><span class="dot"></span>医院地址：成都市人民南路三段20号. 电话：028-85503960】</li>
              <li><span class="dot"></span>注意：姓名带【便民】的医生只咨询，不坐诊</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 green-color">
            <div class="comment-title">
              <div class="row">
                <div class="col-md-3">
                  <span class="h3">就诊评价</span>
                </div>
                <div class="col-md-9 text-right">
                  <button class="btn comment-button">我要评价</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="content-item row m-t-20">
          <div class="comment-item-title gray-color">
            <div>
              疾病： 未填写
            </div>
            <div>
              医生态度： 未填写
            </div>
            <div>
              诊疗效果： 未填写
            </div>
            <div>
              候诊时长： 10分钟内
            </div>
          </div>
          <p class="m-t-20">当我住进医院的时候，肿瘤造成了我脊椎严重变形，并且有着肿瘤扩散的危险，刘浩教授高度重视我的病情，在准确的确诊后尽快的安排了手术，手术非常成功，我能看出他为患者消除病痛后发自真心的高兴。</p>
          <div class="text-right comment-time">
            <span><a href=""><i class="glyphicon glyphicon-thumbs-up"></i> 有用(10)</a></span>
            <span>2011-10-03 06:47:00</span>
            <span>匿名</span>
          </div>
        </div>
        <div class="content-item row m-t-20">
          <div class="comment-item-title gray-color">
            <div>
              疾病： 未填写
            </div>
            <div>
              医生态度： 未填写
            </div>
            <div>
              诊疗效果： 未填写
            </div>
            <div>
              候诊时长： 10分钟内
            </div>
          </div>
          <p class="m-t-20">当我住进医院的时候，肿瘤造成了我脊椎严重变形，并且有着肿瘤扩散的危险，刘浩教授高度重视我的病情，在准确的确诊后尽快的安排了手术，手术非常成功，我能看出他为患者消除病痛后发自真心的高兴。</p>
          <div class="text-right comment-time">
            <span><a href=""><i class="glyphicon glyphicon-thumbs-up"></i> 有用(10)</a></span>
            <span>2011-10-03 06:47:00</span>
            <span>匿名</span>
          </div>
        </div>
        <div class="content-item row m-t-20">
          <div class="comment-item-title gray-color">
            <div>
              疾病： 未填写
            </div>
            <div>
              医生态度： 未填写
            </div>
            <div>
              诊疗效果： 未填写
            </div>
            <div>
              候诊时长： 10分钟内
            </div>
          </div>
          <p class="m-t-20">当我住进医院的时候，肿瘤造成了我脊椎严重变形，并且有着肿瘤扩散的危险，刘浩教授高度重视我的病情，在准确的确诊后尽快的安排了手术，手术非常成功，我能看出他为患者消除病痛后发自真心的高兴。</p>
          <div class="text-right comment-time">
            <span><a href=""><i class="glyphicon glyphicon-thumbs-up"></i> 有用(10)</a></span>
            <span>2011-10-03 06:47:00</span>
            <span>匿名</span>
          </div>
        </div>
        <div class="row m-t-20">
         <div class="col-md-12">
           <div class="panel panel-default">
             <div class="panel-heading">
               <h4>请对<span class="red-color">刘亦菲</span>医生发表评论</h4>
             </div>
             <div class="panel-body">
               <div class="row">
                 <div class="col-md-2">
                   <span class="red-color">*</span> 医生评论:
                 </div>
                 <div class="col-md-10">
                   <textarea rows="5" class="form-control"></textarea>
                 </div>
               </div>
               <div class="row m-t-10">
                 <div class="col-md-6">
                   <span class="red-color">*</span>医生态度：<div class="star" style="display: inline-block;"></div>
                 </div>
                 <div class="col-md-6">
                   <span class="red-color">*</span>诊疗效果：<div class="star" style="display: inline-block;"></div>
                 </div>
               </div>
               <div class="row m-t-10">
                 <div class="col-md-6">
                   <span class="red-color">*</span>医院服务：<div class="star" style="display: inline-block;"></div>
                 </div>
                 <div class="col-md-6">
                   <span class="red-color">*</span>候诊时长：<div class="star" style="display: inline-block;"></div>
                 </div>
               </div>
               <div class="text-center m-t-20">
                 <button class="btn" style="background-color: rgb(255, 135, 0); color: #fff;">提交评论</button>
               </div>
             </div>
           </div>
         </div>
        </div>
        <div class="footer">
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block custom_js %}
  <script src="{% static 'js/share/jquery.raty.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/doctors/show.js' %}" type="text/javascript" ></script>
{% endblock %}
